[project]
name = "dragonfly-bot"
version = "2.3.2"
dependencies = [
    "python-dotenv==1.0.0",
    "discord.py==2.3.0",
    "aiohttp==3.8.4",
    "sentry-sdk==1.25.1",
    "rapidfuzz==3.1.1",
    "coloredlogs==15.0.1",
    "psycopg[binary]==3.1.9",
    "SQLAlchemy==2.0.16",
    "pydantic==1.10.9",
    "msgraph-core==0.2.2",
    "azure-identity==1.13.0",
    "Jinja2==3.1.2",
    "letsbuilda-pypi==4.0.0",
]

[project.urls]
repository = "https://github.com/letsbuilda/dragonfly-bot"
documentation = "https://docs.letsbuilda.dev/dragonfly-bot/"

[project.optional-dependencies]
dev = [
    "pre-commit",
    "black",
    "isort",
    "ruff",
]
tests = [
    "pytest",
]
docs = [
    "sphinx",
    "furo",
    "sphinx-autoapi",
    "toml",
    "releases",
]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.isort]
profile = "black"

[tool.black]
target-version = ["py310"]
line-length = 120

[tool.ruff]
line-length = 120

[tool.pytest.ini_options]
addopts = "tests -r a -v --doctest-modules src"
