[project]
name = "alessia"
version = "1.3.0"
dependencies = [
    "python-dotenv==1.0.0",
    "discord.py==2.2.2",
    "aiohttp==3.8.4",
    "sentry-sdk==1.19.1",
    "rapidfuzz==2.15.1",
    "coloredlogs==15.0.1",
    "psycopg[binary]==3.1.8",
    "SQLAlchemy==2.0.9",
    "pydantic==1.10.7",
    "msgraph-core==0.2.2",
    "azure-identity==1.12.0",
    "Jinja2==3.1.2",
    "letsbuilda-pypi==1.0.0",
]

[project.urls]
repository = "https://github.com/letsbuilda/alessia"
documentation = "https://docs.letsbuilda.dev/alessia/"

[project.optional-dependencies]
dev = [
    "black",
    "isort",
    "pylint",
]
tests = [
    "pytest",
]
docs = [
    "sphinx",
    "furo",
    "sphinx-autoapi",
    "toml",
    "releases",
]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
target-version = ["py310"]
line-length = 120

[tool.isort]
profile = "black"

[tool.pylint.format]
max-line-length = 120
good-names=["it"]

[tool.pylint.messages_control]
disable = "W1203,C0116,R0903,R0911"
# justifications:
# W1203 (logging-fstring-interpolation) - developer UX
# R0903 (too-few-public-methods) - Models
# R0911: (too-many-return-statements) - refactor me plz
# C0114: (missing-module-docstring) - refactor me plz
# C0115: (missing-class-docstring) - refactor me plz
# C0116: (missing-function-docstring) - refactor me plz
