# Requirements
# --index-url=http://pypi.example.com/simple
# --no-cache-dir

# Core
discord.py
pydis-core
aiohttp
pydantic-settings

# Logging
sentry-sdk
rapidfuzz
coloredlogs

# Database
psycopg[binary]
SQLAlchemy

# Utilities
# utils/helpers
tldextract

# Extensions
# exts/utilities/internal
arrow
# exts/utilities/snekbox
regex
# exts/dragonfly
# exts/pypi
letsbuilda-pypi==4.0.0
