<!DOCTYPE html>
<html>
    <body>
        <p>PyPI Malicious Package Report</p>
        <p>-</p>
        <p>Package Name: {{ package.name }}</p>
        <p>Version: {{ package.version }}</p>
        <p>File path: {{ package.highest_score_distribution.most_malicious_file }}</p>
        <p>Inspector URL: <a href="{{ package.highest_score_distribution.inspector_link }}">{{ package.highest_score_distribution.inspector_link }}</a></p>
        <br>
        <p>Additional Information: </p>

        {% if description %}
            <p>{{ description }}</p>
        {% else %}
            <p><em>No user description provided</em></p>
        {% endif %}
        
        <br>

        <p>Yara rules matched: {{ rules }}</p>

        <br>

        <p>Although this email is automated, this package was manually confirmed to be malicious.</p>
        <p>This is an automated email, replies will not be monitored.</p>
        <p>Please contact support@mantissecurity.org with questions, comments, or concerns</p>
    </body>
</html>
