<!DOCTYPE html>
<html>
    <body>
        <h1>Package: {{ package.pypi_link }}</h1>
        <h1>Inspector: {{ package.inspector_link }}</h1>

        <h1>Description:</h1>
        {% if description %}
            <p>{{ description }}</p>
        {% else %}
            <p><em>No user description provided</em></p>
        {% endif %}

        <h1>Details</h1
        <p>NOTE: Although this email is automated, this package was manually confirmed to be malicious.</p>
        <p>NOTE: This is an automated email, replies will not be monitored.</p>
        <p>Please contact bradley.reynolds@darbia.dev with questions, comments, or concerns</p>
    </body>
</html>
