# Requirements
# --index-url=http://pypi.example.com/simple
# --no-cache-dir

# Core
discord.py
pydis-core
aiohttp
pydantic-settings

# Logging
sentry-sdk
rapidfuzz
coloredlogs

# Database
psycopg[binary]
SQLAlchemy[asyncio]
dragonfly-db-commons @ git+https://github.com/vipyrsec/dragonfly-db-commons@main

# Mailer
msgraph-sdk
azure-identity

# Utilities
# utils/helpers
tldextract

# Extensions
# exts/utilities/internal
arrow
# exts/utilities/snekbox
regex
