---
name: Python CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    uses: darbiadev/.github/.github/workflows/generic-precommit.yaml@ea97d99e1520c46080c4c9032a69552e491474ac  # v13.0.0
    with:
      python-version: '3.11'

  lint:
    needs: pre-commit
    uses: darbiadev/.github/.github/workflows/python-lint.yaml@6a6eb74ae11149881c29adf5a5f7af23349c8762  # v9.0.0
    with:
      python-version: '3.11'

  test:
    needs: lint
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.11'

    uses: darbiadev/.github/.github/workflows/python-test.yaml@ea97d99e1520c46080c4c9032a69552e491474ac  # v13.0.0
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}

  docs:
    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    uses: darbiadev/.github/.github/workflows/github-pages-python-sphinx.yaml@ea97d99e1520c46080c4c9032a69552e491474ac  # v13.0.0
    with:
      python-version: '3.11'
